@import "src/assets/scss/variables";

div.container {
  display: flex;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  max-width: 400px;
}

.weather_infos {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  opacity: 0.6;
  gap: $weather-infos-gap;
}

.temperature {
  display: flex;
  font-size: 2rem;
}

.infos {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  font-size: 0.7rem;
  width: 100%;
  padding: 0.8rem 0.5rem;
  border-radius: 15px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  gap: 0.5rem;

  .border_right {
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    padding-right: 0.8rem;
  }
}

.separator {
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
