.globeContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: auto;
    transition: all 0.5s ease;

    &.zooming {
        // Quand on zoome, on peut ajouter des effets
        filter: brightness(1.1);
    }
}